extends layout
block content
    h1= title
    p Welcome to #{title}
    p
        a(href="/examples/todoList") ToDo List
    p
        a(href="/examples/templateAndBind") Templates and Data-Binding
    p
        a(href="/examples/service") Service, Factory and Provider
    p
        a(href="/examples/eworld") Project: Electronic World