doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='icon', href='/stylesheets/favicon.ico')
        block cssList
        block jsList
    body
        block content